<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f30e.png"
    />

    <title>INFRACOM</title>

    <style>
     {%CSS%}
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Modelo TCP/IP</h1>

      <div class="cards-container">
        {%TEMAS%}
      </div>

    </div>
  </body>
</html>
