<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f30e.png"
    />

    <title>{%TEMA%} {%IMAGE%}</title>

    <style>
      {%CSS%}
    </style>
    
  </head>

  <body>
    <div class="container">
      <h1>Modelo TCP/IP</h1>

      <figure class="tema">
        
        <a href="/overview" class="tema__back">
          <span class="emoji-left">◀</span>Back
        </a>
        <div class="tema__hero">
          <span class="tema__emoji tema__emoji--1">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--2">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--3">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--4">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--5">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--6">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--7">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--8">{%IMAGE%}</span>
          <span class="tema__emoji tema__emoji--9">{%IMAGE%}</span>
        </div>
        <h2 class="tema__name">{%TEMA%}</h2>

        <!--
        <div class="tema__details">
          <p><span class="emoji-left">🌍</span>{%TEMA%}</p>
          <p><span class="emoji-left">❤️</span>{%NUTRIENTS%}</p>
          <p><span class="emoji-left">📦</span>{%QUANTITY%}</p>
          <p><span class="emoji-left">🏷</span>{%PRICE%}E</p>
        </div> -->
  
       <!--<a href="#" class="tema__link">
          <span class="emoji-left">🛒</span>
          <span>Add to shopping card ({%PRICE%})E</span>
        </a> -->

        <p class="tema__description">
          {%DESCRIPTION1%}
        </p>

        <div style="text-align: center;">
          {%WEBIMAGE%}
          <br>
          <p class="tema__description">{%DESCRIPTION2%}</p>
          {%WEBIMAGE1%}
        </div>

        <p class="tema__description">{%DESCRIPTION3%}</p>

        <div style="text-align: center;">
          {%WEBVIDEO%}
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>

      </figure>
      
    </div>
  </body>
  </html>
  